/* Place Your Custom Styles Here */
:root {
  --b3-turquoise: #0CCCCC;
  --b3-yellow: #F7DF04;
  --b3-pink: #FF4F94;
  --b3-blue: #3600CC;
  --b3-gray: #5C5C5C;
  --dark-gray: #222220;
  --muted-pink: rgba(255, 79, 148, 0.2);

  --font-family-sans-serif: 'Open Sans', sans-serif, arial, sans-serif;
  --font-family-heading: 'Work Sans', Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* work-sans-regular - latin */

html{
    
}

body{
    font-family: 'Open Sans';
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Work Sans';
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
}

.infotext {
  text-transform: uppercase;
  font-family: var(--font-family-sans-serif);
  font-weight: 600;
  font-size: 1.25rem;
}

.navbar-brand-img {
  height: 4rem;
  width: auto;
}

.bg-linear {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.014) -73.98%, rgba(0, 0, 0, 0.7) 58.16%);
}

.btn-pink {
  background-color: var(--b3-pink);
  color: white;
  font-family: var(--font-family-sans-serif);
  font-weight: 800;
  font-size: 1.4rem;
  width: fit-content;
}

.btn-pink:hover {
 background-color: var(--muted-pink);
 color: white;
}

.contact-map {
  max-height: 305px;
}

.contact-city-header {
  color: var(--muted-pink);
  font-size: 18.75rem;
  font-weight: 800;
  top: calc(50% - 352px/2 - 197.5px);
  left: 25%;
}

.contact-list-item {
  color: white;
  font-family: var(--font-family-heading);
  font-weight: 800;
  font-size: 2.1rem;
  background: none;
  border: none;
}

.contact-list-item:hover {
  cursor: pointer;
  color: var(--muted-pink)
}

.contact-list-item.active {
  color: var(--b3-pink);
  text-decoration: underline;
  background: none;
}

.contact-career {
  width: fit-content;
}