/* Place Your Custom Styles Here */
:root {
  --b3-turquoise: #0ccccc;
  --b3-yellow: #f7df04;
  --b3-pink: #ff4f94;
  --b3-blue: #3600cc;
  --b3-gray: #5c5c5c;
  --dark-gray: #222220;
  --muted-pink: rgba(255, 79, 148, 0.2);

  --font-family-sans-serif: "Open Sans", sans-serif, arial, sans-serif;
  --font-family-heading: "Work Sans", Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
/* work-sans-regular - latin */

html {
}

body {
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Work Sans";
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
}

.career-head {
  text-align: center;
}

.infotext {
  text-transform: uppercase;
  font-family: var(--font-family-sans-serif);
  font-weight: 600;
  font-size: 1.25rem;
}

.navbar-brand-img {
  height: 4rem;
  width: auto;
}

.bg-linear {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.014) -73.98%,
    rgba(0, 0, 0, 0.7) 58.16%
  );
}

.btn-pink {
  background-color: var(--b3-pink);
  color: white;
  font-family: var(--font-family-sans-serif);
  font-weight: 800;
  font-size: 1.4rem;
  width: fit-content;
}

.btn-pink:hover {
  background-color: var(--muted-pink);
  color: white;
}

.contact-map {
  max-height: 305px;
}

.contact-city-header {
  color: var(--muted-pink);
  font-size: 18.75rem;
  font-weight: 800;
  top: calc(50% - 352px / 2 - 197.5px);
  left: 25%;
}

.carousel-indicators {
  display: flex !important;
  position: relative !important;
  flex-direction: column !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.contact-list-item,
.carousel-indicators > li {
  display: block !important;
  position: relative;
  color: white;
  font-family: var(--font-family-heading);
  font-weight: 800;
  font-size: 2.1rem;
  background: none;
  border: none !important;
  width: auto !important;
  height: auto;
  opacity: 1;
}

.contact-list-item:hover,
.carousel.indicators > li:hover {
  cursor: pointer;
  color: var(--muted-pink);
}

.contact-list-item.active,
.carousel.indicators > li.active {
  color: var(--b3-pink);
  text-decoration: underline;
  background: none;
}

.contact-career {
  width: fit-content;
}

.carousel-item {
  height: 100vh !important;
  width: 100vw !important;
}

/* Referenskod, ska raderas! */

/* .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
} */
/* .carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
} */

.thumbnail {
  width: 100px;
  height: 100px;
}

.card-content {
  text-align: center;
}

@media (max-width: 951px) {
  .mobile-contact {
    display: block;
    position: relative;
    z-index: 5;
  }

  .moblie-contact--padding-0 {
    padding: 0;
  }

  .mobile-contact--zindex-0 {
    z-index: 0;
  }

  .mobile-contact--title {
    position: relative;
    font-size: 6.3rem;
    width: 539px;
    height: 117px;
    left: 0;
    top: calc(50% - 117px / 2 - 212.5px);
    transform: rotate(90deg);
    z-index: 2;
  }

  .mobile-contact--nav {
    margin-top: 3rem !important;
  }

  .moblie-contact--nav > ol > li {
    font-size: 1.5rem !important;
  }
}
